<head>
  <meta name="description" content="Error or 404 page" />
</head>

<div class="flex h-[75%]">
  <div class="m-auto text-center">
    <p class="text-6xl">Error: 404</p>
    <p class="text-xl">Page not found</p>
  </div>
</div>
