---
let { filename } = Astro.props;

const articles = import.meta.glob<{ Content: any }>(
  "../../assets/articles/*.md",
  { eager: true },
);

const articleKey = `../../assets/articles/${filename}.md`;
const article = articles[articleKey];

// Get the html content of the markdown file using astro Content component
const { Content: ArticleContent } = article;
---

<div class="justify-center">
  <article class="prose prose-lg px-5 sm:px-5 md:px-20 2xl:px-60 max-w-none">
    <ArticleContent />
  </article>
</div>
