---
import page2 from "../components/page2.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="text-center">
    <h1 class="text-4xl">Hello there and welcome to page 2</h1>
    <div class="btn">Hello</div>
    <br />
    <code>This is a test of the code tag with default properties</code>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
      aspernatur sint atque quae non tempore fugiat et! Recusandae blanditiis
      incidunt enim, tempore veniam, illum non, exercitationem suscipit mollitia
      nihil ipsum?
    </p>
  </div>
</Layout>
