---
import { Image } from "astro:assets";
import Logo from "../assets/pfp.png";
import "../styles/global.css";
---

<head>
  <meta
    name="description"
    content="Home page of Jeffrey Mello's personal website"
  />
</head>

<div class="h-[75%] grid-cols-2 gap-3">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        src={Logo}
        alt="Personal logo looks like a fish swimming in a galaxy"
        class="max-w-sm rounded-2xl shadow-2xl object-fill"
      />
      <div>
        <h1 class="title-primary">melloCoding</h1>
        <p class="py-6 text-center">
          Beginner Full Stack web developer, game designer, and really bad
          artist.
        </p>
      </div>
    </div>
  </div>
</div>
