---
import Logo from "../assets/pfp.png";
import "../styles/global.css";
---

<head>
  <meta
    name="description"
    content="Home page of Jeffrey Mello's personal website"
  />
</head>

<div class="h-[75%] grid-cols-2 gap-3">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src={Logo.src}
        alt="Personal logo looks like a fish swimming in a galaxy"
        class="max-w-sm rounded-2xl shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold">melloCoding</h1>
        <p class="py-6">
          Beginner Full Stack web developer, game designer, and really bad
          artist.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</div>
